Architecture: amd64
Depends: libqt5core5a (>= 5.15.0),
	 libqt5gui5 (>= 5.15.0),
	 libqt5widgets5 (>= 5.15.0)
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Badger
Priority: optional
Section: Education
Version: 2023.11.15
Description: Badger
 Welcome to Badger!
 Badger is governed by a BSD license. Enjoy!
